@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Flex:opsz@8..144&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* height: 100%;
    width: 100%; */
}

/* Nav bar */
nav {
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-color: #111310;
    color: #fafafa;
    box-shadow: inset 0px -1px 0px #c5c5c6;
}

.nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

.nav-icon span {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    color: #fafafa;
}
.nav-icon img {
    width: 40px;
}
.hamburger {
    display: none;
}
.navlinks-container a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #eeeeee;
    display: inline-block;
    position: relative;
}
.navlinks-container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: #d1d1d1;
    transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
    transform: scaleX(1);
}

/* Main */
.main {
    padding-top: 70px;
    padding-bottom: 40px;
    text-align: center;
    /* background: red; */
    color: #111310;
}
.main h1 {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 35px;
    text-transform: uppercase;
    text-decoration: overline underline;
}
.main p.intro {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 60px;
}
.main p a{
    text-decoration-line: underline;
    text-decoration-color: #99cd3200;
    position: inherit;
    display: inline-block;
    color: inherit;
    transition: text-decoration-color 0.3s ease-out, color 1s ease-out;
}

.main p a:hover {
    color: #8EC1FF;
    text-decoration-color: rgb(142,193,255);
    transition: all 0.3s ease-out;
}

.gameinfo {
    text-align: left;
    padding: 10px;
    padding-bottom: 35px;
    margin: 0 20px 10px 20px;
    display: block;
    border-color: #000000;
    border-style: outset;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px #333;
}
.title-content {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding-bottom: 10px;
}
.game-title {
    font-weight: 800;
    text-decoration: underline;
}
.tag-list {
    margin-left: auto;
}
.gameinfo p {
    margin-bottom: 10px;
}
.see-more{
    background-color: #8ec1ff;
    float: right;
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
}
.see-more:hover {
    background-color: #62a9ff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ec1ff",endColorstr="#499bff",GradientType=1);
    transition: background-color 0.2s;
}
.gameinfo.more {
    padding-bottom: 150px;
}
span.tag {
    color: #8E9DFF;
    background-color: transparent;
    border-radius: 50px;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
span.tag:hover {
    background-color: #8E9DFF;
    color: #111310;
    border-radius: 50px;
    transition: all 0.2s ease-out;
}

.tag-list span {
    font-size: 12px;
    font-weight: bold;
    background-color: #8E9DFF;
    color: #111310;
    border-radius: 50px;
    transition: all 0.2s ease-out;
}
.tag-list span:hover {
    color: #8E9DFF;
    background-color: transparent;
    border-radius: 50px;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
.date,
.date-mini {
    color: #7a7a7a;
    padding-left: 5px;
    font-size: 12px;
}
.date-mini {
    display: none;
}

/* main download */
.games {
    text-align: left;
    display: block;
    align-items: center;
    display: block;
}
.download-games {
    padding-left: 30px;
    padding: 0 30px 15px 30px;
    border-width: 2px;
    border-style: outset;
    border-color: #aaaaaa;
    border-right: none;
    border-left: none;
    border-bottom: none;
    box-shadow: none;
}
.title-download-game {
    display: flex;
    align-items: baseline;
}
.download-game-title {
    text-decoration: underline;
}
.version {
    color: #7a7a7a;
    margin-left: 15px;
}
.change-log {
    padding: 5px 0 0 0;
    display: flex;
}
.button {
    margin-left: auto;
}
.see-more-download{
    background-color: #8ec1ff;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
}
.see-more-download:hover {
    background-color: #62a9ff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ec1ff",endColorstr="#499bff",GradientType=1);
    transition: background-color 0.2s;
}
.see-more-download a {
    color: #111310;
}   

/* Footer */
footer {
    position: relative;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: auto;
    text-align: center;
    padding-top: 15px;
    background-color: #333;
    padding-bottom: 50px;
    color: #fafafa;
}

@media (max-width: 594px) {
    nav {
        padding: 15px 20px;
        position: sticky;
    }
    
    .nav-icon {
        order: 2;
        margin: 0 auto;
    }
    
    .nav-icon span {
        font-size: 22px;
    }
    
    .main-navlinks {
        order: 1;
    }
    
    .hamburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background-color: #111310;
        align-items: center;
        position: relative;
    }
    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #fafafa;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }
    .hamburger span:nth-child(1),
    .hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }
    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }
    
    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }
    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }
    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }
    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }
    
    .navlinks-container {
        max-height: 91vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: #fafafa;
        top: 100%;
        left: 0;
        height: 100vh;
        padding: 10px 50px 15px 5px;
        border-right: 1px solid #c5c5c6;
        border-bottom: 1px solid #c5c5c6;
        transform: translate(-100%);
    }
    .open {
        box-shadow: 5px 5px 5px #0000003b;
        transform: translate(0%);
    }
    .navlinks-container a {
        color: #414141;
        margin-left: 0;
        font-size: 18px;
        margin: 10px 0;
    }
    
    .main {
        padding-top: 0;
    }
    .main h1 {
        padding-top: 35px;
        padding-bottom: 25px;
        font-size: 45px;
    }
    .navlinks-container a::after {
        background: #333;
    }

    .tag-list span{
        padding: 0 4px 0 4px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
    .date {
        display: none;        
    }
    .date-mini {
        display: flex;
    }
    
    .button {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .see-more-download {
        margin-bottom: 3px;
    }
    .download-games {
        padding: 0 0px 15px 10px;
    }
    .title-download-game {
        flex-direction: column;
    }
    .version {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .nav-icon img {
        width: 30px;
    }
    .nav-icon span {
        font-size: 20px;
    }
}

