.blur {
    -webkit-backdrop-filter: blur(7px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(7px);
}

/* Sokoban by Mathiol */
.sokoban {
    color: #2a2a2a;
    z-index: -1;
    background: url("https://github.com/matmat37000/my-web-site/blob/master/picture/games/sokoban.png?raw=truepicture/games/sokoban.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sokoban .see-more-download {
    background-color: #8ec1ff;
}
.sokoban .see-more-download:hover {
    background-color: #62a9ff;
}

/* Jumping-king */
.jumping-king {
    color: #fff;
    z-index: -1;
    background: url("https://github.com/matmat37000/my-web-site/blob/master/picture/games/jumping-kink.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.jumping-king .see-more-download {
    background-color: #908eff;
}
.jumping-king .see-more-download:hover {
    background-color: #626cff;
}
.jumping-king .title-and-change-log {
    color: #fff;
}

@media (max-width: 595px) {
    .download-games {
        text-align: center;
    }
    
    .title-download-game {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button {
        position: absolute;
        bottom: 2px;
    }
}